.app {
    max-width: 500px;
    margin: 0 auto;
}

.app__header, .app__currency, .app__search-and-rate-wrapper {
    margin: 0 0 10px;
}

.app__search-and-rate-wrapper {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.app__header-wrapper {
    display: flex;
}

.app__updates-controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__updates-toggler {
    cursor: pointer;
}

/* LAYOUT */

.app__layout--60 {
    width: 60%;
}

.app__layout--40 {
    width: 40%;
}