.select {
    cursor: pointer;
}

.select__root-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 55px;
    user-select: none;
}

.select__drop-down-wrapper {
    position: relative;
}

.select__drop-down {
    top: 10px;
    position: absolute;
}