.select {
    cursor: pointer;
}

.select__root-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 55px;
    user-select: none;
}

.select__drop-down-wrapper {
    position: relative;
}

.select__drop-down {
    position: absolute;
    top: 10px;
    left: -5px;
    z-index: 5;
    background: white;
    padding: 10px;
    border: 1px solid gray;
}